<div class="container-full">
  <!-- begin header -->
  <header class="header">

    <div class="logo">
      <a class="logo__link" href="/"> Tiffany Chen
      </a>
    </div>

    <nav class="main-nav">
      <span class="main-nav__open">menu</span>

      <div class="main-nav__box">
        <span class="main-nav__close">Close</span>

        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a href="/" class="nav__link">Home</a>
          </li>

          <li class="nav__item">
            <a href="/about/" class="nav__link">About</a>
          </li>

        </ul>

      </div>

    </nav>

  </header>
  <!-- end header -->
</div>
