<div class="container-full">
  <!-- begin header -->
  <header class="header">

    <div class="logo">
      <a class="logo__link" href="/personal-blog/"> tiffanychenster
      </a>
    </div>

    <nav class="main-nav">
      <span class="main-nav__open">menu</span>

      <div class="main-nav__box">
        <span class="main-nav__close">Close</span>

        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a href="{{site.baseurl}}/" class="nav__link">home</a>
          </li>
          <li class="nav__item">
            <a href="{{site.baseurl}}/about/" class="nav__link">about</a>
          </li>
          </li>
        	<li class="nav__item">
            <a href="{{site.baseurl}}/tag/reviews/" class="nav__link">reviews</a>
          </li>

        </ul>

      </div>

    </nav>

  </header>
  <!-- end header -->
</div>
